<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--日志的字符编码-->
    <property name="log.charset" value="UTF-8"/>

    <!--控制台日志输出配置，可以匹配色彩和高亮-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{50}) - %yellow([%file:%line]) [%X{traceID}] - %msg%n
            </pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>